<!-- Меню навигации в хедере -->
<div class="header clearfix">
    <a href="/" class="logo"></a>
    <ul class="menu">
        {% for menu in header_menu %}
            {% if not menu.need_auth or request.user.is_authenticated %}
                <li><a href="{% url menu.href %}" {% if request.resolver_match.url_name == menu.href %}class="active"{% endif %}>
                    {{menu.name}}
                </a></li>
            {% endif %}
        {% endfor %}
    </ul>
    <a href="{% if request.user.is_authenticated %}/auth/logout{% else %}/auth/login{% endif %}" class="auth">
        {% if request.user.is_authenticated %}Выйти{% else %}Войти{% endif %}
    </a>
</div>